<div class="flex flex-col items-center min-h-screen">
  <div class="mb-4">
    <h1 class="text-2xl font-bold"><%= @talker.name %></h1>
    <h3 class="text-lg font-medium"><%= @talker.expetise %></h3>
  </div>

  <div class="mb-2">
    <%= link_to "Edit", edit_talker_path(@talker) %>
  </div>

  <div>
    <ul>
      <li>
        <%= link_to "Destroy", talker_path(@talker), data: {
          turbo_method: :delete,
          turbo_confirm: "Are you sure?"
        } %>
      </li>
    </ul>
  </div>

  <h2>Talks</h2>
  <div class="mb-4">
    <%= render @talker.talks %>
  </div>

  <h2>Add a talk:</h2>
  <div class="mb-4">
    <%= render 'talks/form' %>
  </div>
</div>
